### 7.	Lakukan rekonstruksi data (materi 9) yaitu proses scaling, standarisasi, normalisasi. Banding data sebelum dan sesudah proses.

In [67]:
import pandas as pd
from sklearn.preprocessing import Normalizer

In [68]:
dataset = "Melbourne_housing_FULL.csv"
df = pd.read_csv(dataset)

SCALING
---

In [84]:
# Import library
from sklearn.preprocessing import Normalizer
import pandas as pd
from sklearn.impute import SimpleImputer

# Load/memuat/membaca data 
data = pd.read_csv("Melbourne_housing_FULL.csv")

# Pilih kolom-kolom yang akan dijadikan fitur
fitur = ["Landsize", "BuildingArea"]

# Cek apakah terdapat nilai NaN pada dataset
data.isna().sum()

# Isi nilai NaN dengan nilai rata-rata dari kolom yang bersangkutan
imputer = SimpleImputer(strategy='mean')
data[fitur] = imputer.fit_transform(data[fitur])
data[fitur]

         Landsize  BuildingArea
0      126.000000      160.2564
1      202.000000      160.2564
2      156.000000       79.0000
3        0.000000      160.2564
4      134.000000      150.0000
...           ...           ...
34852  593.000000      160.2564
34853   98.000000      104.0000
34854  220.000000      120.0000
34855  593.598993      160.2564
34856  250.000000      103.0000

[34857 rows x 2 columns]

In [69]:
# Buat objek normalizer
max_abs = Normalizer(norm='l2')

# Sesuaikan normalizer dengan data fitur yang dipilih
max_abs.fit(data[fitur])

# Mengubah data fitur yang telah dinormalisasi
train_scaled = max_abs.transform(data[fitur])

In [70]:
train_scaled

array([[0.61807707, 0.78611751],
       [0.7834042 , 0.62151256],
       [0.89212798, 0.45178276],
       ...,
       [0.87789557, 0.47885213],
       [0.96543536, 0.26064262],
       [0.92460149, 0.38093581]])

### Standarisasi

In [83]:
# Import library
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

# Load/memuat/membaca data 
data = pd.read_csv("Melbourne_housing_FULL.csv")

# Pilih kolom-kolom yang akan dijadikan fitur
fitur = ["Landsize", "BuildingArea"]

# Cek apakah terdapat nilai NaN pada dataset
data.isna().sum()

# Isi nilai NaN dengan nilai rata-rata dari kolom yang bersangkutan
imputer = SimpleImputer(strategy='mean')
data[fitur] = imputer.fit_transform(data[fitur])
data[fitur].describe()

            Landsize  BuildingArea
count   34857.000000  34857.000000
mean      593.598993    160.256400
std      2763.694121    251.943934
min         0.000000      0.000000
25%       357.000000    160.000000
50%       593.598993    160.256400
75%       598.000000    160.256400
max    433014.000000  44515.000000

In [72]:
#Buat objek scaler
scaler = StandardScaler()

#Sesuaikan scaler dengan data
scaler.fit(data[fitur])

#Mengubah data kereta 
train_scaled = scaler.transform(data[fitur])

In [73]:
#Tampilkan hasil

train_scaled

array([[-1.69195895e-01, -8.32865021e-01],
       [-1.41696075e-01, -8.32865021e-01],
       [-1.58340703e-01, -1.97558347e+00],
       ...,
       [-1.35182960e-01,  3.09853427e-01],
       [ 0.00000000e+00,  2.53734466e-16],
       [-1.24327768e-01, -1.97558347e+00]])

### Normalisasi

In [80]:
import pandas as pd
import numpy as np

#Membaca data 
data = pd.read_csv("Melbourne_housing_FULL.csv")

#Pilih kolom-kolom yang akan dijadikan fitur
fitur = ["Landsize", "BuildingArea"]

#Cek nilai NaN pada dataset
data.isna().sum()

#Isi nilai NaN dengan nilai rata-rata dari kolom yang bersangkutan
imputer = SimpleImputer(strategy='mean')
data[fitur] = imputer.fit_transform(data[fitur])
print("Sebelum Normalisasi")
data[fitur]

Sebelum Normalisasi

         Landsize  BuildingArea
0      126.000000      160.2564
1      202.000000      160.2564
2      156.000000       79.0000
3        0.000000      160.2564
4      134.000000      150.0000
...           ...           ...
34852  593.000000      160.2564
34853   98.000000      104.0000
34854  220.000000      120.0000
34855  593.598993      160.2564
34856  250.000000      103.0000

[34857 rows x 2 columns]

In [78]:
#Menghitung mean
means = data[fitur].mean(axis = 0)

# menghitung max - min
max_min = data[fitur].max(axis = 0) - data[fitur].min(axis = 0)

# menerapkan transformasi ke data
train_scaled = (data[fitur] - means) / max_min

In [81]:
#Tampilkan hasil
print("Setelah Normalisasi")
train_scaled

Setelah Normalisasi

       Landsize  BuildingArea
0     -0.001080  6.384749e-19
1     -0.000904  6.384749e-19
2     -0.001011 -1.825371e-03
3     -0.001371  6.384749e-19
4     -0.001061 -2.304032e-04
...         ...           ...
34852 -0.000001  6.384749e-19
34853 -0.001145 -1.263763e-03
34854 -0.000863 -9.043334e-04
34855  0.000000  6.384749e-19
34856 -0.000794 -1.286227e-03

[34857 rows x 2 columns]